.address-container{
  width: 35%;

  h1.address-heading {
    margin-top: 40px;
  }

  .address-section{
    margin: 40px auto 80px;
  }

  // .form-group{
  //   .dropdown.bootstrap-select.show-tick.dropup{
  //     width: 100%;
  //   }
  // }
}
