.cart-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 60px auto;

    h2 {
        margin-bottom: 30px;
    }

    .cart-table {

    }

    .remove{
      background: none;

      i.fa-times-circle{
        color: $gray-background;
      }
    }

    .cart-table-row {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $text-color-light;
        padding: 14px 0;

        &:last-child {
            border-bottom: 1px solid $text-color-light;
        }

        .cart-table-row-left, .cart-table-row-right {
            display: flex;
            justify-content: space-between;
        }

        .cart-table-row-left {
            width: 35%;
        }

        .cart-table-row-right {
            width: 40%;
            padding-top: 10px;
        }

        .cart-table-img {
            height: 100px;
            width: 125px;
        }

        .cart-table-actions {
            display: flex;
            justify-content: space-between;
            text-align: right;
            font-size: 14px;

            .saveToWishlist{
              font-size: 16px;
            }

            .fa-heart{
              color: $heart;
            }
        }

        .cart-item-details {
            // padding-top: 5px;
        }

        .cart-table-description {
            color: $text-color-light;
        }

        .cart-options {
            color: $text-color;
            // background: transparent;
            // font-size: 24px;
            // font-weight: 300;
            // padding: 0;
            // padding: 8px;
            // line-height: normal;
            //
            background: none;
            &:hover {
              // background: $heart;
              background: lighten($heart, 10%);
            }
        }
    }

    .cart-totals {
        margin: 30px 0;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background: $light-gray-background;

        .cart-totals-left {
            width: 50%;
        }

        .cart-totals-right {
            display: flex;
            justify-content: space-between;
            width: 25%;
            text-align: right;
        }

        .cart-totals-total {
            font-weight: bold;
            font-size: 22px;
            line-height: 2;
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .button-checkout{
          background-color: $blue-color;
          color: $white;
          text-decoration: none;

          &:hover{
            background-color: lighten($blue-color, 5%);
          }
        }
    }

    .have-code {
        display: block;
        margin: 14px 0;
        text-align: right;
    }

  .have-code-container {
    border: 1px solid $text-color-light;
    padding: 16px;
    width: 50%;
    margin-left: auto;

    form {
      display: flex;
      justify-content: space-between;
    }

    input[type="text"] {
      width: 70%;
      padding: 10px;
      font-size: 16px;
    }

    input[type="submit"] {
      background: white;
      border: 1px solid $text-color-light;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background: $text-color;
      }
    }
  }
}
