header.with-background{
    // background: url('/img/triangles.svg');
    // background-size: cover;
    background: $light-gray-background;
    color: $text-color;
    border-bottom: 1px solid #CDCDCD;

    .top-nav {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      letter-spacing: 1.5px;

      .logo {
        font-weight: bold;
        font-size: 28px;
      }

      ul {
        a {
          color: $text-color;
          &:hover {
            color: lighten($text-color, 10%);
          }
        }

      }
    }

    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr; //repeat(2, 1fr)
      grid-gap: $gutter;
      padding-top: 50px;
      padding-bottom: 84px;
      text-align: center;

      .hero-image {
        padding-left: 60px;
      }

      h1 {
        font-size: 30px;
        margin-top: 50px;
      }

      p {
        margin: 40px 0 68px;
      }

      .button {
        margin-right: 14px;

      }
    }
  }

  header {
    background: $light-gray-background;
    color: $text-color;
    border-bottom: 1px solid $blue-color;

    .top-nav {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      letter-spacing: 1.5px;

      .logo {
        font-weight: bold;
        font-size: 28px;
        color: $text-color;
        margin-right: 58px;
      }

      ul {
        display: flex;
        text-transform: uppercase;
        padding-top: 8px;
        font-weight: 400;

        li {
          margin-right: 38px;

          &:last-child {
            margin-right: 0;
          }
        }

        a {
          color: $text-color;
          &:hover {
            color: darken($white, 10%);
          }
        }

        .cart-count {
          display: inline-block;
          background: $cart-count;
          color: $white;
          line-height: 0;
          border-radius: 50%;
          font-size: 14px;

          span {
            display: inline-block;
            padding-top: 50%;
            padding-bottom: 50%;
            margin-left:6px;
            margin-right:6px;
          }
        }

      }
    }


    .top-nav-right, .top-nav-left, .bottom-nav{
      display: flex;
      align-items: center;
    }

    .nav-background{
      background: $blue-color;
      height: 40px;
      .bottom-nav{
        width: 100%;
        .active{
          background: #f2f2f2;
          color: $text-color;
        }

        a:hover{
          background-color: $light-gray-background;
          color: darken($blue-color, 15%);
          text-decoration: none;
        }
        a{
          color: $white;
          padding: 6px 16px;
          margin-right: 10px;
          font-weight: 400;
        }
        &.container{
          padding: 0;
        }
      }
    }
  }
